<h1>New Dose</h1>

<%= form_for(@cocktail, @dose) do |f| %>
  <%= f.label :description %>
  <%= f.text_field :decription %>
  <% f.association :ingredient %>
  <%= f.submit %>
<% end %>

<br>
<br>
<br>
<br>

<%= link_to 'Back to list', doses_path %>