<h1>Details from: <%= @dose.description %> </h1>


<p><%= @dose.description %></p>
<p><%= @dose.created_at %></p>
<p><%= @dose.updated_at %></p>
<br>
<br>
<ul class="list-group">
  <% @dose.ingredients.each do |ingredient| %>
    <li class="list-group-item">
      <%= ingredient.content %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to list', doses_path %>
